*{
    margin: 0;
}
.header{
    background-color: rgb(226, 43, 43);
    width: 100%;
    height: 30px;
    position: fixed;
   
}
.list{
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 3px
}
li{
    margin: 4px 3px;
}
/* style for link */
a:link {
    color: #000203; /* Blue color for unvisited links */
    text-decoration: none; /* Remove underlines by default */
    font-weight: bold; /* Make the text bold */
}

/* Style for visited links */
a:visited {
    color: #9933cc; /* Purple color for visited links */
}

/* Style for links when hovered over */
a:hover {
    color: #ff6600; /* Orange color on hover */
    
}

/* Style for active links (clicked) */
a:active {
    color: #cc0000; /* Red color when clicked */
}
/* end */
.imagefirst #fix{
    width: 100%;
    height: 50vh;
}
.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}
.card{
    height: 300px;
    overflow: hidden;
    width: 200px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(160, 18, 18, 0.753), rgb(159, 173, 30)) 1;
    padding: 4px;
    margin: 5px;
}
img {
    width: 100%;
    height: 200px;
}
.contect{
    height: 200px;
    border: solid 5px;
    border-image: linear-gradient(to right, rgba(160, 18, 18, 0.753), rgb(159, 173, 30)) 1;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    padding: 30px;
    margin: 40px;
}